@model Genesys.Modelos.ViewModels.DocumentosVM //como recibe al modelo bodega seleccionamos el proyecto donde esta el modelo
@using Genesys.Utilidades

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var titulo = "Crear Documento"; //Creamos una variable titulo que va a cambiar de acuerdo a lo que estemos haciendo
}

<form method="post" enctype="multipart/form-data">
    @if (Model.Documentos.IdDocumento != 0)
    {
        titulo = "Actualizar Documento";
        <input asp-for="Documentos.IdDocumento" hidden />
        <input asp-for="Documentos.ArchivoUrl" hidden />
    }

    <div class="border p-3">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <h2 class="form-title text-purple">@titulo</h2>
        </div>

        <div class="row">
            <div class="col-6">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Nombre del Documento</label>
                            <input type="text" asp-for="Documentos.NombreDocumento" class="form-control" placeholder="Nombre del Documento" />
                            <span asp-validation-for="Documentos.NombreDocumento" class="text-danger"></span> <!--Si el campo nombres es requerido nos avisa-->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Empleado</label>
                            <select asp-for="Documentos.IdEmpleado" asp-items="@Model.EmpleadoLista" class="form-select">
                                <option disabled selected>-- Seleccione un Empleado --</option>
                            </select>
                            <span asp-validation-for="Documentos.IdEmpleado" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <label>Imagen</label>
                            <input type="file" accept="image/*, application/pdf, application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document" name="files" id="archivoId" class="form-control" />
                            <span asp-validation-for="Documentos.NombreDocumento" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Estado Documento</label>
                            <select asp-for="Documentos.StatusDocumento" class="form-select">
                                <option value="true">Activo</option>
                                <option value="false">Inactivo</option>
                            </select>
                            <span asp-validation-for="Documentos.StatusDocumento" class="text-danger"></span>
                        </div>
                    </div>
                    <br />
                    @*Vamos ahora a llamar las vistas parciales*@
                    <div>
                        @if (Model.Documentos.IdDocumento != 0)
                        {
                            <partial name="_BotonesActualizarYRegresar" model="Model.Documentos.IdDocumento" />
                        }
                        else
                        {
                            <button type="submit" onclick="return validarImagen()" class="btn btn-purple"><i class="bi bi-plus-square-fill"></i> Crear</button>
                            <a asp-action="Index" class="btn btn-purple "><i class="bi bi-arrow-return-left"></i> Regresar</a>
                        }
                    </div>
                </div>
            </div>
            <div class="col-6">
                @if (Model.Documentos.IdDocumento != 0)
                {
                    var extn = Model.Documentos.ArchivoUrl.Split(".").Last();
                    if (extn == "png" || extn == "jpeg")
                    {
                        @:<img src="@DS.ImagenDocumentosRuta@Model.Documentos.ArchivoUrl" width="100%" style="border-radius:5px; border:1px solid #bbb" />
                    }

                    if (extn == "pdf")
                    {
                        <iframe src="@DS.ImagenDocumentosRuta@Model.Documentos.ArchivoUrl" target="_blank" style="width:100%; height: 90%"> </iframe>
                    }
                    <a href="@DS.ImagenDocumentosRuta@Model.Documentos.ArchivoUrl" target="_blank">Descargar Archivo</a>
                }
            </div>
        </div>
    </div>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" /> <!--Permitira mostrar los errores de los span a nivel del cliente-->
    <script>

        function validarImagen() {
            if (document.getElementById("archivoId").value == "") {
                swal("Error", "¡Seleccione una Imagen!", "error")
                return false;
            }
            return true;
        }
    </script>
}




